.formGroupStyle {
    width: 100%;
    margin: 20px auto;
  }

.authFormStyle {
    width: max-content;
    border: #343a40 solid;
    margin: 20px auto;
  }
  
.authFormLogoStyle {
    background: #343a40;
    color: #f4f4f4;
    padding: 20px 10px;
}

.authFormStyle h1 {
    border-bottom: 2px solid #f4f4f4;
}

.authFormContentStyle {
    padding: 20px;
}

.forgotPasswordTextStyle {
    text-align: right;
    margin: 10px;
}

.dontHaveAccountStyle {
    padding: 5px;
    background: #6a70773d;
    border-top: 2px solid #6a7077;
}

.authFormStyle a {
    color: #494949!important;
    text-decoration: none!important;
}

.authFormStyle a:hover {
    color: #a4a6a8!important;
}